:root {
  --snack-c: #de7979;
  --snake-head-c: #e04a4a;
  --snake-body-c: #992f2f;
  --background-c: #d0f7b2;
  --background-c-dark: #3f5740;
  --border: #a73c3c;
  --board-c: #7dad69;
  --main-c: #556f44;
  --white: #ccc;
  --white-light: #eee;
  --black: #333;
  --onetime-use: #b8da9f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: var(--background-c);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  height: 100vh;
}

.container-summary {
  width: 24rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--main-c);
  position: relative;
}

.container-point {
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: var(--main-c);
  position: relative;
}

.absolute {
  position: absolute;
  top: 20rem;
}

.point-title {
  display: inline-block;
  font-weight: 600;
}

.point-title--span {
  font-size: 24px;
}

.container-main {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: var(--main-c);
}

.select-form {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 0.5rem;
}

.select-form label {
  color: var(--main-c);
}

.select-form select {
  font-size: 12px;
  padding: 0.6rem;
  border: 1px solid var(--main-c);
  border-radius: 9px;
  background-color: var(--white-light);
}

.select-form-btn {
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid var(--main-c);
  background-color: var(--white-light);
  transition: all 450ms;
  border-radius: 9px;
}

.select-form-btn:hover,
.select-form-btn:active {
  background-color: var(--main-c);
  border: 1px solid d4a9ff;
  color: var(--white-light);
}

.start-margin-top {
  margin-top: 0.4rem;
}

.game-board {
  display: flex;
  gap: 2px;
  margin-top: 1.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--board-c);
  border: 1px solid var(--main-c);
  padding: 0.4rem;
  position: relative;
}

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 37rem;
  max-height: 37rem;
  background-color: var(--onetime-use);
  color: var(--background-c-dark);
  font-size: 24px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--background-c-dark);
  transform: translate(-50%, -50%);
  position: absolute;
}

.div-info h2 {
  align-self: center;
  margin-bottom: 1rem;
}

.div-info div {
  display: flex;
  gap: 0.2rem;
  margin-left: 1rem;
  margin-top: -1.3rem;
  width: 22rem;
}

.div-info p {
  display: flex;
  justify-content: space-between;
  width: 9rem;
}

.div-info span {
  justify-self: flex-start;
}

.div-info p:last-child {
  margin-top: 0;
  width: auto;
  align-self: center;
}

.button-start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.how-to-play {
  padding: 0.48rem;
}

.game-ends {
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  min-width: 20rem;
  color: var(--background-c-dark);
  padding: 2rem;
  width: 60%;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  border: 1px solid var(--background-c-dark);
  transform: translate(-50%, -50%);
  position: absolute;
}

.row {
  display: flex;
  gap: 2px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  background-color: var(--board-c);
  padding: 0.4rem;
  border: 1px solid var(--main-c);
  height: 27.8rem;
  overflow-y: scroll;
}

.summary-title {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--main-c);
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.9rem;
  background-color: var(--main-c);
  color: var(--white);
}

.summary--p {
  display: flex;
  justify-content: space-between;
}

.date {
  align-self: center;
}

.cell {
  width: 24px;
  height: 24px;
  background-color: var(--main-c);
}

.snack {
  width: 24px;
  height: 24px;
  background-color: var(--snack-c);
  border: 1px solid var(--white);
}

.snake {
  width: 24px;
  height: 24px;
  background-color: var(--snake-body-c);
  border: 1px solid var(--white);
}

.snake-face {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--snake-head-c);
  border: 1px solid var(--white);
}

.eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--white-light);
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: var(--black);
  }
}

.left-eye--w {
  bottom: 20%;
  left: 20%;
}

.right-eye--w {
  bottom: 20%;
  right: 20%;
}

.tongue--w {
  border: 1px solid var(--white);
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 4px;
  background-color: var(--snake-body-c);
}

.left-eye--a {
  bottom: 20%;
  right: 20%;
}

.right-eye--a {
  top: 20%;
  right: 20%;
}

.tongue--a {
  border: 1px solid var(--white);
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 4px;
  height: 8px;
  background-color: var(--snake-body-c);
}

.left-eye--s {
  top: 20%;
  left: 20%;
}

.right-eye--s {
  top: 20%;
  right: 20%;
}

.tongue--s {
  border: 1px solid var(--white);
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 4px;
  background-color: var(--snake-body-c);
}

.left-eye--d {
  top: 20%;
  left: 20%;
}

.right-eye--d {
  bottom: 20%;
  left: 20%;
}

.tongue--d {
  border: 1px solid var(--white);
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 4px;
  height: 8px;
  background-color: var(--snake-body-c);
}
